* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

/* Adding font to css body */
body {
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    /* min-height: 100vh; */



}
a{
    text-decoration: none;
    color: inherit;
}
li{
list-style-type:none;
display:inline-block;

}
/* Applying header and footer layout */
header,
footer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
color: white;
background-color:skyblue;
}
/* Added h1 font text element */
/*This controls the h1 font on the header*/
h1{
 display: inline;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 60px;
padding: 15px;
}
/*this controls the aside font size*/
h2{
    padding:10px;
    padding-right:100px;
    font-size: px;
    border-right:solid grey 5px;
}

nav {
display: inline-block;
padding: 0 25px 0 1px;

}

nav ul { 
color:skyblue;
padding-bottom:10px;
}
/* Made list items horizantal */
/*This controls the 3 words on the side of the header*/
nav li {
display:inline-block;
margin-left: 20px;
/* margin-bottom:20px; */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a{
color: white;
display:inline;
margin: top 10px;
}
 
.About{
    background-color: white;
    color:gray;
    padding: 20px;
    display:flex;
    flex-direction:row;
}
p{
    padding-left:50px;
}

.Works {
    background-color: white;
    color:gray;
    padding: 20px; 
    display:flex;
} 



.ContactME{

    background-color: white;
    color:gray;
    padding: 20px;
    display:flex;
    justify-content: space-between;
}
 .ContactME ul{
    display:flex;
    justify-content:space-between;
    
 }
 .ContactME ul li{
    padding:10px
 }

 .mywork{
justify-content: center;
align-content: center;
 }

 .mainimg{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom:10px;
 }

 .comingprojects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:10px;
 }
 .profile{ display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:10px;
 } 